<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/Common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/flexdropdown.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/Styles/Class.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.jqzoom.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        sessionStorage.cartItemCount = "@ViewBag.ItemsCount" == " " ? 0 : "@ViewBag.ItemsCount";
    </script>
    @RenderSection("Head", false)
</head>
<body onload="javascript:return LoadCartItems();">
    <div id="wraper">
        <div id="header" class="Header">
            <div id="title">
            </div>
            <ul id="flexmenu1" class="flexdropdownmenu">
                <div class="flexdropTopMenu">
                    <img src="@Url.Content("~/Content/Images/droptop.png")" alt="" />
                </div>
                <li>@Html.ActionLink("Our Standards", "OurStandards", "About")</li>
                <li>@Html.ActionLink("Claudia", "Claudia", "About")</li>
                <div>
                    <img src="@Url.Content("~/Content/Images/dropBot.png")" alt="" />
                </div>
            </ul>
            <div class="main-container">
                <div class="logo fl">
                    <a href="../Home/Index">
                        <img src="@Url.Content("~/Content/Images/logo.gif")" alt="" />
                    </a>
                </div>
                <div class="nav fl">
                    <ul id="menu">
                        <li>@Html.ActionLink("Shop", "Product", "Product")</li>
                        <li><a href="#" data-flexmenu="flexmenu1">About Us</a></li>
                        <li>@Html.ActionLink("Safe Sleep Guidelines", "Index", "Home")</li>
                        <li>@Html.ActionLink("F.A.Q", "Index", "FAQ")</li>
                    </ul>
                </div>
                <div class="fr searchContainer">
                    <div class="fl search">
                        <input type="text" value="" />
                        <input type="submit" value="" class="btn" />
                    </div>
                    <div class="fl addCart">
                        <label id="lblCartItems">
                        </label>
                        <br />
                        <a onclick="javascript:fnAddtoCart();">
                            <img src="@Url.Content("~/Content/Images/spacer.gif")" alt="" /></a></div>
                    <div class="cl">
                    </div>
                </div>
                <div class="cl">
                </div>
            </div>
        </div>
        <div class="inner-section">
            <div class="container">
                <div class="inner-section">
                    <div class="roundedTop">
                        <img src="../../Content/Images/roundtopLft.png" alt="" class="fl" />
                        <img src="../../Content/Images/roundtopRght.png" alt="" class="fr" />
                    </div>
                    <div class="roundedBg">
                        @RenderBody()
                    </div>
                    <div class="roundedBot">
                        <img src="@Url.Content("~/Content/Images/roundbotLft.png")" alt="" class="fl" />
                        <img src="@Url.Content("~/Content/Images/roundbotRght.png")" alt="" class="fr" />
                    </div>
                    <div class="cl">
                    </div>
                </div>
            </div>
        </div>
        <div class="cl">
        </div>
        <div class="footer">
            <div class="main-container">
                <div class="fl footerLinks">
                    <ul>
                        <li>@Html.ActionLink("terms & conditions", "TermsAndConditions", "Footer")</li>
                        <li>@Html.ActionLink("privacy policy", "PrivacyPolicy", "Footer")</li>
                        <li><a href="#">refund policy</a></li>
                        <li><a href="#">site map</a></li>
                        <li><a href="#">contact us</a></li>
                        <li><a href="#">blog</a></li>
                        <li><a href="#">
                            <img src="@Url.Content("~/Content/Images/spacer.gif")" alt="" class="twitter" /></a><a
                                href="#"><img src="@Url.Content("~/Content/Images/spacer.gif")" alt="" class="facebook" /></a><a
                                    href="#"><img src="@Url.Content("~/Content/Images/spacer.gif")" alt="" class="thirdicon" /></a></li>
                        <div class="cl">
                        </div>
                    </ul>
                </div>
                <div class="fl padT10">
                    &copy; 2013 Hush Pure Sleep</div>
                <div class="fr padT10">
                    Powered By MaduTech Pvt. Ltd.</div>
            </div>
        </div>
        <div class="cl">
        </div>
    </div>
</body>
</html>
