@model IEnumerable<BabyShop.Models.ProductModel>

@{
    ViewBag.Title = "BabyProduct";
    Layout = "~/Views/Shared/_Product.cshtml";
    
   
}
<div class="inner-section">
    @{
        int counter = 0;
        decimal remainder = 0;
        string imagePath = System.Web.Configuration.WebConfigurationManager.AppSettings["ImageFolder"];
    }
    @foreach (var product in Model)
    {
        counter = counter + 1;
        remainder = counter % 3;
       
        <div class="shadowBoxSmal fl">
            <div class="shadowTopSmal">
                &nbsp;</div>
            <form id="Form1" action="@Url.Action("ProductDetail", "Product", product)" method="post">
            <div class="shadowContSmal">
                <img src="@Url.Content(imagePath + @product.ImageURL)" width="100%" alt="" />
                <h4 class="blueColr">
                    <label id="lblStrippedOne">
                        @product.Name</label></h4>
                @product.Description
                <p>
                    <label id="lblPriceOne">
                        $@product.Price</label></p>
                <p>
                    <input type="submit" value="" class="productDetail" />
                </p>
            </div>
            </form>
            <div class="shadowBotSmal">
                &nbsp;</div>
        </div>
        if (remainder == 0)
        {
        <br />
        }
    }
    <div class="cl">
    </div>
</div>
