@model BabyShop.Models.ProductModel
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Inner.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#imageZoom').attr('href', jsnUtil.imageZoomDir + '@Model.ImageURL');
        $('#imagePropduct').attr('src', jsnUtil.imageDir + '@Model.ImageURL');
    });
</script>
<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Scripts/ProductDetail.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.jqzoom-core.js")" type="text/javascript"></script>
<div class="inner-section">
    <input id="ProductCartProductKId" name="Id" type="hidden" value="" />
    <input id="ProductCartPrice" name="ProductCartPrice" type="hidden" value="" />
    <div class="shadowBox fl">
        <div class="shadowTop">
            &nbsp;</div>
        <div class="shadowCont">
            <div class="clearfix">
                <a id="imageZoom" href="" class="MyCLASS" rel='gal1' title="">
                    <img id="imagePropduct" src="" title="" alt="" />
                </a>
            </div>
            <div class="cl">
            </div>
            <div class="rollthumb clearfix">
                <p class="rollTxt">
                    Roll over image to zoom in
                </p>
                <ul id="thumblist" class="clearfix">
                    <li><a class="zoomThumbActive" href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: '@Url.Content("~/Content/Images/thumb_small1.jpg")',largeimage: 
                        '@Url.Content("~/Content/Zoom/thumb_small1.jpg")'}">
                        <img src='@Url.Content("~/Content/Images/rollimgThumb1.jpg")' alt="rollingThumb1"/>
                    </a></li>
                    <li><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: '@Url.Content("~/Content/Images/thumb_small2.jpg")',largeimage: '@Url.Content("~/Content/Zoom/thumb_big2.jpg")'}">
                        <img alt="rollingThumb2" src='@Url.Content("~/Content/Images/rollimgThumb2.jpg")'/>
                    </a></li>
                    <li><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: '@Url.Content("~/Content/Images/thumb_small3.jpg")',largeimage: '@Url.Content("~/Content/Zoom/thumb_big3.jpg")'}">
                        <img alt="rollingThumb3" src='@Url.Content("~/Content/Images/rollimgThumb3.jpg")'/>
                    </a></li>
                </ul>
                <div class="cl">
                </div>
            </div>
        </div>
        <div class="shadowBot">
            &nbsp;</div>
    </div>
    <div class="shadowBox fr">
        <div class="shadowTop">
            &nbsp;</div>
        <div class="shadowCont">
            <div class="detailCont">
                <h3>
                    Striped Cotton Blanket</h3>
                <div class="cartRow">
                    <div class="price fl">
                        <b>Details</b></div>
                    <div class="price blueColr fl">
                        <b>Fabric &amp; Care</b></div>
                    <div class="price blueColr fl">
                        <b>Shipping</b></div>
                    <div class="cl">
                    </div>
                </div>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
            <div class="detailCont">
                <div class="cartRow">
                    <b>Ordering</b>
                </div>
                <br />
                <form action="ShoppingCart" method="get" class="formCont">
                <div class="formRow">
                    <label>
                        Size</label>&nbsp;&nbsp;
                    <select name="">
                        <option>Choose an Option</option>
                    </select>
                    <div class="cl">
                    </div>
                </div>
                <br />
                <div class="formRow">
                    <label>
                        Color</label>
                    <select name="">
                        <option selected="selected">Choose an Option</option>
                    </select>
                    <div class="cl">
                    </div>
                </div>
                <br />
                <div class="formRow">
                    <label>
                        Price</label>
                    @Model.Price
                    <div class="cl">
                    </div>
                </div>
                <div class="formRow">
                    <label>
                        Quantity</label>
                    <input name="ProductCartQuantity" id="productQuantity" type="text" value="1" style="width: 50px;" />
                    <input type="submit" value="" class="addToCart" />
                    <div class="cl">
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="shadowBot">
            &nbsp;</div>
    </div>
    <div class="cl">
    </div>
</div>
