@using BabyShop.Models
@model IEnumerable<BabyShop.Models.ProductCartModel>
@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_Inner.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
//        $("#txtQuantity").keyup(function () {
//            sessionStorage.quantity = $(this).val();
//
//        });
    });
</script>
<div class="divTable" style="width: 95%">
    <div class="divHeaderRow" style="width: 100%; border-bottom: 2px solid black;">
        <span style="font-size: 25px; color: #000000; font-weight: bold;">Shopping Cart</span>
    </div>
    <div class="divRow">
        <div class="lstView">
            <form id="shoppingCartForm" method="POST">
            <table style="width: 100%" id="tblProductDetails">
                <tr>
                    <th>
                        Action
                    </th>
                    <th>
                        Item
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Qty
                    </th>
                    <th>
                        Unit Price
                    </th>
                    <th>
                        Price
                    </th>
                </tr>
                @foreach (ProductCartModel product in Model)
                {   
                    <tr style='background-color: #F3F2F0'>
                        <td align="center">
                            <div id='editButton@(product.Id)' class="show">
                                <a href="@Url.Action("DeleteItemInShoppingCart", new { productCartId = product.Id })">
                                    <img src="../../Content/Images/removeImg.jpg" alt="Delete" /></a> &nbsp;&nbsp;
                                <img src="../../Content/Images/edit.png" alt="Edit" id="EditQuantity" onclick="javascript:return editQuantityHandler(@product.Id);" />
                            </div>
                            <div id="updateCancelButton@(product.Id)" class="hide">
                                <img src="../../Content/Images/check.gif" alt="Update" id="UpdateQuantity" onclick="javascript:return updateQuantityHandler(@product.Id);" />
                                <img src="../../Content/Images/cross.png" alt="Cancel" id="CancelQuantity" onclick="javascript:return cancelQuantityHandler(@product.Id);" />
                            </div>
                        </td>
                        <td style='width: 10%; vertical-align: middle'>
                            <img src="@Url.Content(@System.Web.Configuration.WebConfigurationManager.AppSettings["ImageFolder"] + @product.ImageURL)" 
                                 alt="@product.CategoryName"  width='80px' height='60px' />
                        </td>
                        <td>
                            <strong>@product.CategoryName</strong>
                        </td>
                        <td>
                            <div id="divQuantity" class="show" align="right">
                                <strong>
                                    <label>
                                        @product.Quantity</label>
                                </strong>
                            </div>
                            <input type="text" id="txtQuantity@(product.Id)" name="Quantity" value="@product.Quantity" class="hide" style="width:50px;" onkeyup="javascript:return setQuantity(this);"  />
                        </td>
                        <td align="right">
                            <strong>$@product.UnitPrice</strong>
                        </td>
                        <td align="right">
                            <strong>$@product.Price</strong>
                        </td>
                    </tr>
                }
                <tr style='background-color: #CFD0CB'>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        SubTotal
                    </td>
                    <td align="right">
                        $@Model.Select(x => x.Price).Sum()
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        Shipping
                    </td>
                    <td align="right">
                        $@Model.Select(x => x.Price > 0 ? 10.05 : 0).FirstOrDefault()
                    </td>
                </tr>
                <tr style='background-color: #646464; height: 50px; color: #ffffff'>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        Total
                    </td>
                    <td align="right">
                        @Html.Raw(string.Format("${0}", @Model.Select(x => x.Price).Sum() + @Model.Select(x => x.Price > 0 ? 10 : 0).FirstOrDefault()))
                    </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
    <div class="divRow">
        <div class="cntShopng fl">
            <a href="@Url.Action("Product", "Product")" title="Continue Shopping">Continue Shopping</a></div>
        <div class="fr">
            <a href="@Url.Action("Login", "Home")"  title="Check out">
                <img src="@Url.Content("~/Content/Bottom/checkout.png")" alt="Check Out" /></a></div>
        <div class="cl">
        </div>
    </div>
</div>
